.play-again__button {
  // height: 10%;
  background-color: rgb(209, 233, 238);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  border-radius: 1rem;
  padding: 0 2rem;
  box-shadow: 4px 9px 5px 0px rgba(0, 0, 0, 0.5);
}

.play-again__button:active {
  transform: translateY(2px);
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
}